<div id="lowerIconsDiv"> 
	<div id="imgsDiv">
		<img id="discord" href="http://discord.gg/K8VbZ85q" class="socialIcon" src="../../../assets/imgs/discord.svg">
		<img id="instagram" class="socialIcon" src="../../../assets/imgs/instagram.svg">
		<img id="twitter" class="socialIcon" src="../../../assets/imgs/twitter.svg">
		<img id="vkcom" href="http://vk.com/degoshweb" class="socialIcon"  src="../../../assets/imgs/vk.svg">
	</div>

	<!--horizontal 68px line-->
	<div id="vlDiv">
		<!--<div id="hl"></div>-->
		<img id="vl" src="../../../assets/imgs/vertical50.svg">
	</div>

	<div id="dbbDiv">
		<button id="dashboardBtn" translate>
			home.dashboard
		</button>
	</div>
</div>

<div id="footerDiv">
	<div id="footerTextDiv"> 
		<span class="boldFooter">Degosh.</span>
		<span class="normalFooter" translate>
			home.design-by
		</span>

		<span class="boldFooter">
			Yasha.
		</span>

		<span  class="normalFooter" translate>
			home.copyright
		</span>

		<span class="normalFooter" translate>
			home.please-read
		</span>

		<span class="boldFooter" routerLink="/terms/terms" translate>
			home.terms-and
		</span>

		<span class="normalFooter" translate>
			home.contact
		</span>

		<span class="boldFooter">
			degosh@degosh.com
		</span>
	</div>
</div>
