html, body {
    overflow: hidden;
	padding: 0;
	margin: 0;
}

button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	font-size: 20px;
	background-color: #F5F6F8;
	/*border: 2px solid #ECECED;*/
	border: 2px solid black;
	transition: .2s;
	border-radius: 10px;
}

button:hover {
	border: 2px solid black;
	background-color: black;
	color: white;
	transform: scale(.98);
	opacity: 0.9;
	transition: .2s;
}

::selection {
    background: #D6C2FF;
}

input::selection {
    background: #D6C2FF;
}

::-webkit-scrollbar {
    width: 0px;
}


body {
    background-color: #F5F6F8;
    /*
    width: 100%;
    height: 100%;
    */
}

.content {
    background-color: transparent;
    position: absolute;
    align-items: center;
    margin: auto;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*
    height: 100%;
    width: 100%;
    */
    max-height: 1080px;
    max-width: 1920px;
    /*overflow-y: hidden !important;*/

    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-BlackItalic.ttf) format("truetype");
	font-style: italic;
	/*900 corresponds to roboto Black, i checked*/
	font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
	font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-ThinItalic.ttf) format("truetype");
	font-weight: 200;
    font-style: italic;
}

